*{
    margin: 0;
    padding: 0;
}
.nav{
    height: 60px;
    border:1px solid #eee;
    box-shadow: 0px 0px 10px #000000;
}
.layui-nav{
    background: #fff;
}
.layui-input:hover{
    box-shadow: 0 0 5px rgb(91, 191, 222)
}
.user_form{
    width: 850px;
    height: 450px;
    box-shadow: 0 0 10px #aaa;
    margin-top: 40px;
}
.layui-form-pane{
    border-radius: 100px;
    /* margin-top: 100px; */
}
.left{
    height: 450px;
}
.right{
    height: 450px;
    padding-top: 100px;
}
.layui-btn{
    background: rgb(91, 191, 222);
}
/* .img-responsive{
    display: block;
    height: auto;
    max-width: 100%;
} */
.layui-container{
    padding-left: 0px;
}