<% include ../header.ejs %>
<body>
	<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
		<ul class="layui-tab-title">
			<li class="layui-this">用户管理</li>
			<li>新闻管理</li>
			<li>项目管理</li>
			<li>竞赛管理</li>
			<li><a href="/">返回首页</a></li>
			<li class=''>
				<img src="delf.jpeg" alt="" class="layui-nav-img">
				<%- user.username%>
			</li>

		</ul>
		<div class="layui-tab-content">
			<div class="layui-tab-item layui-show">
				<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
					<legend>用户管理</legend>
				</fieldset>
				<div class="layui-fluid">
					<table lay-filter="demo" class="layui-hide" id="test"></table>
				</div>
			</div>
			<div class="layui-tab-item">内容2</div>
			<div class="layui-tab-item">内容3</div>
			<div class="layui-tab-item">内容4</div>
			<div class="layui-tab-item">内容5</div>
		</div>
	</div>
</body>

</html>