<% include header.ejs %>
<body>
    <div class="bg">
        <div class="layui-flid">
            <div class="layui-row">
                <div class="layui-col-sm3">
                    <img src="logo.png" alt="">
                </div>
                <button id="btn1"type="button" class="collapse-btn" style="position: absolute;top:20px;right:0;">
                    <i class=" layui-icon layui-icon-align-center" ></i>
                </button>
                <div class="layui-col-sm1 this "><a href="/">首页</a></div>
                <div class="layui-col-sm1"><a href="">论坛</a></div>
                <div class="layui-col-sm1"><a href="">新闻中心</a></div>
                <div class="layui-col-sm1"><a href="">我的项目</a></div>
                <div class="layui-col-sm1"><a href="">项目分类</a></div>
                <div class="layui-col-sm1"><a href="">个人中心</a></div>
                <div class="layui-col-sm3">
                    <% if (login) {%>
                        <span style="width:70%"><a href=""><img src="delf.jpeg" class="img" alt=""><%- user.username %></a></span>
                        <span style="width:20%"class="h"><a href="/logout">退出</a></span>
                    <%} else{%>
                        <span class="h" tyle="width:60%"><a href="/login">立即登陆</a></span>
                        <span class="h" tyle="width:30%"><a href="/reg">注册</a></span>
                    <%}%>
                </div>
            </div>
            <div class="layui-row" style="margin-top:20px;margin-bottom: 20px">
                <div class="layui-carousel" id="test1">
                    <div carousel-item>
                        <div><img class="img-responsive"src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1551110516043&di=1941da52edcf5da15256aa68ee6fde81&imgtype=0&src=http%3A%2F%2Fimg.gulujie.com%2Fuploadimg%2F2017%2F02%2F20170202021742525RU6hr.jpg" alt=""></div>
                        <div style="background:lightgreen"></div>
                        <div style="background: lightslategrey"></div>
                        <div style="background:crimson"></div>
                        <div style="background:darkmagenta"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-container">
            <div class="layui-row">
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>新闻中心</legend>
                    <div class="layui-field-box">
                        内容区域
                    </div>
                </fieldset>
            </div>
            <div class="layui-row">
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>项目推荐</legend>
                    <div class="layui-field-box">
                        内容区域
                    </div>
                </fieldset>
            </div>
            <div class="layui-row">
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>竞赛消息</legend>
                    <div class="layui-field-box">
                        内容区域
                    </div>
                </fieldset>
            </div>
            <div class="layui-footer" style="text-align:center">
                <!-- 底部固定区域 -->
                © Gzu - 项目流程体验平台
            </div>
        </div>
    </div>
</body>

</html>