<%- include header.ejs %>
<body>
    <div class="nav">
        <div class="layui-container">
            <ul>
                <li class=""><a><img src="./logo.png"  alt=""></a></li>
            </ul>
        </div>
    </div>
    <div class="layui-container user_form">
        <div class="layui-row">
            <div class="layui-col-md6 left">
                <img src="left.png"  alt="" srcset="">
            </div>
            <div class="layui-col-md6 right">
                <fieldset class="layui-elem-field layui-field-title" style="text-align:center">
                    <legend>
                        <font style="vertical-align: inherit;">注册</font>
                    </legend>
                </fieldset>
                <form class="layui-form" id="form1">
                    <div class="layui-form-item layui-form-pane">
                        <label class="layui-form-label">用户名</label>
                        <div class="layui-input-block">
                            <input type="text" name="username" required lay-verify="required" placeholder="Username"
                                autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-pane">
                        <label class="layui-form-label">密码</label>
                        <div class="layui-input-block">
                            <input type="password" name="password" required lay-verify="required|pass" placeholder="Password"
                                autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-pane">
                        <label class="layui-form-label">确认密码</label>
                        <div class="layui-input-block">
                            <input type="password" name="password2" required lay-verify="required" placeholder="Password"
                                autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-pane">
                        <label class="layui-form-label">专业</label>
                        <div class="layui-input-block">
                            <select name="major" lay-verify="required">
                                <option value=""></option>
                                <option value="计算机科学与技术">计算机科学与技术</option>
                                <option value="软件工程">软件工程</option>
                                <option value="信息安全">信息安全</option>
                                <option value="网络工程">网络工程</option>
                                <option value="数字媒体">数字媒体</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-pane">
                        <label class="layui-form-label">第二技能</label>
                        <div class="layui-input-block layui-form-pane ">
                            <input type="checkbox" name="like" value="run" title="运动">
                            <input type="checkbox" name="like" value="read" title="阅读">
                            <input type="checkbox" name="like" value="painting"title="绘画">
                            <input type="checkbox" name="like" value="music" title="音乐">
                            <input type="checkbox" name="like" value="dance" title="舞蹈">
                            <input type="checkbox" name="like" value="chinese" title="国学">
                            <input type="checkbox" name="like" value="design" title="设计">
                            <input type="checkbox" name="like" value="photo" title="摄影">
                            <input type="checkbox" name="like" value="manual" title="手工">
                        </div>
                    </div>
                    <button type="submit" onsubmit="return false" class="layui-btn layui-btn-fluid layui-btn-radius" lay-submit lay-filter="formDemo"
                        style="background:rgb(91, 191, 222)">
                        <font style="vertical-align: inherit;font-size: 14px;">注册</font>
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>